.unit_select_mobile {
    width: 80%;
    height: 25px;

    color: black;
    background: white;

    border-width: 0px;
    line-height: 1.2em;

    font-size: 1rem;

    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: 0.5em;
}